/*=== GERAL ===========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #F04B4B;
  --light: #F6F6F6;
  --typography-dark: #716C6C;
  --dark-gray: #1F1F22;
  
  font-size: 62.5%; /* 1rem = 10px */
}

*::selection {
  background-color: var(--main-color);
  color: var(--light);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
  
  background-color: var(--light);
  color: var(--typography-dark);
  
  font-family: "Maven Pro", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.05em;
  width: 100%;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 5%;
}

ul {
  list-style: none;
}

a, a:active, a:visited {
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
}

img {
  user-select: none;
}

.main-title {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: bold;
  letter-spacing: 0.10em;
  color: var(--dark-gray);
}

.subtitle {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.10em;
  color: var(--dark-gray);
  text-transform: uppercase;
}

a.red-link {
  color: var(--main-color);
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

a.red-link:hover {
  opacity: 1;
}

.btn-primary {
  height: 4.8rem;
  color: var(--light);
  border: none;
  opacity: 0.7;
  font-size: 2rem;
  background: linear-gradient(90deg, #F04B4B 0%, #F07F66 100%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* HEADER */
header {
  padding: 0 4.4rem;
  background-image: url(../images/menu-background.svg);
  height: 10.4rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

header .header-logo {
  width: 6.8rem;
  height: 5.6rem;
  margin-top: 2.4rem;
}

header nav .navbar {
  display: flex;
  gap: 6.4rem;
  margin-top: 3.2rem;
}

header nav .navbar .menu-item {
  text-transform: uppercase;
}

header .btn-primary {
  margin-top: 2.4rem;
  height: 4rem;
  padding: 0 2rem;
}

/* HOME */
#home .introduction {
  background-image: url(../images/intro-background.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: .2rem;
}

#home .introduction h3.subtitle {
  color: var(--light);
}

#home .introduction h1.main-title {
  color: var(--light);
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 8rem;
}

#home .introduction .btn-primary {
  padding: 0 2rem;
}

#home #about-valorant {
  padding-top: 4.4rem;
  width: 100%;
  position: relative;
}

#home #about-valorant .main-title {
  text-transform: uppercase;
  margin: 0 0 2rem 12.8rem;
}

#home #about-valorant .main-title::before {
  content: '';
  display: block;
  width: 50.6rem;
  margin-bottom: 1rem;
  height: 1px;
  background-color: currentColor;
}

#home #about-valorant .subtitle {
  margin: 0 0 3.2rem 18rem;
}

#home #about-valorant .game-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#home #about-valorant .paragraph {
  margin-left: 18rem;
  width: 62.8rem;
  line-height: 2.7rem;
}

#home #about-valorant img.agent {
  position: absolute;
  right: 12.8rem;
  top: 4.4rem;
  height: 56rem;
  z-index: 98;
}

#home #equality {
  height: 60.8rem;
  background-image: url(../images/equality-background.svg);
  background-repeat: no-repeat;
  position: relative;
  margin-top: 4.4rem;
}

#home #equality img.agent {
  position: absolute;
  left: 0;
  top: -7.8rem;
  z-index: 98;
}

#home #equality img.championship {
  position: absolute;
  left: 11.8rem;
  top: 20.2rem;
  z-index: 97;
}

#home #equality .image-description {
  position: relative;
  padding-left: 12.2rem;
  color: var(--dark-gray);
  line-height: 2.7rem;
  width: 54rem;
  z-index: 97;
}

#home #equality .image-description::before {
  content: "";
  height: 7.2rem;
  width: 4px;
  background-color: var(--dark-gray);
  position: absolute;
  top: .6rem;
  margin-left: -1.2rem;
}

#home #equality .main-title {
  text-transform: uppercase;
  padding: 11.2rem 0 2rem 57.6rem;
  color: var(--light);
}

#home #equality .main-title::before {
  content: '';
  display: block;
  width: 39rem;
  margin-bottom: 1rem;
  height: 1px;
  background-color: currentColor;
}

#home #equality .subtitle {
  padding: 0 0 3.2rem 66.2rem;
  color: var(--light);
}

#home #equality .paragraph {
  margin-left: 66.2rem;
  color: var(--light);
  line-height: 2.7rem;
  width: 54rem;
}

#home #agents-section {
  height: 66.4rem;
  display: flex;
}

#home #agents-section .content {
  width: 50%;
  height: 100%;
  background-image: url(../images/agents-left-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4.4rem;
}

#home #agents-section .content .main-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#home #agents-section .content .paragraph {
  margin-top: 3.2rem;
  width: 58rem;
  line-height: 2.7rem;
}

#home #agents-section .content .btn-primary {
  margin-top: 3.2rem;
  width: 36rem;
}

#home #agents-section .example {
  width: 50%;
  background-image: url(../images/agents-right-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 4.8rem;
  border-left: 10px solid var(--main-color);
}

#home #agents-section .example img {
  width: 4rem;
  height: 4rem;
}

#home #agents-section .example .title {
  align-items: center;
  display: flex;
  gap: 2rem;
}

#home #agents-section .example .title .main-title {
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: var(--light);
  text-transform: uppercase;
}

#home #agents-section .example .paragraph {
  color: var(--typography-dark);
  margin-top: 2rem;
  width: 56.4rem;
  line-height: 2.7rem;
  font-weight: 400;
}

#home #agents-section .example .row-skills {
  display: flex;
  gap: 6.4rem;
  margin-block: 2rem 3.2rem;
}

/* LOGIN */
#login {
  background-image: url(../images/login-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.2rem 0 0 6.4rem;
  height: 100vh;
}

#login main {
  display: flex;
  flex-direction: column;
}

#login main .main-title {
  font-size: 6rem;
  line-height: 6rem;
  color: var(--light);
  margin-bottom: 2rem;
}

#login main .subtitle {
  color: var(--light);
  margin-bottom: 3.2rem
}

#login main .create-account {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin-bottom: 3.2rem;
}

#login main .form {
  display: flex;
  flex-direction: column;
  max-width: 33.2rem;
  gap: 3.2rem;
}

main .form .form-field {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

main .form .form-field label {
  color: var(--light);
}

main .form .form-field input {
  color: var(--light);
  background-color: #585e6575;
  border: none;
  height: 4.8rem;
  font-size: 2rem;
  padding-left: 1.2rem;
}

main .form .form-field input:focus {
  outline: none;
  background-color: #585e65B3;
}

/* CADASTRO */
#register {
  background-image: url(../images/register-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register .main-title {
  color: var(--light);
  font-size: 8rem;
  line-height: 8rem;
}

#register .subtitle {
  color: var(--light);
  margin-top: 2rem;
}

#error_message {
  color: var(--light);
  background-color: var(--main-color);
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

#login #error_message {
  width: 33.2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

#error_message.disabled {
  display: none;
}

#register main .form {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  width: 70.6rem;
  margin-top: 4.4rem;
  justify-content: center;
}

#register main .form input,
#register main .form button {
  width: 33rem;
}

/* AGENTES */
#agents {
  padding-top: calc(10.4rem + 4.4rem);
}

#agents main h1.main-title {
  color: var(--dark-gray);
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

#agents main h1.main-title::after {
  content: '';
  display: block;
  width: 30.2rem;
  margin-top: 1rem;
  height: 1px;
  background-color: currentColor;
}

#agents main #role {
  margin-top: 3.2rem;
  margin-top: 3.2rem;
  display: flex;
  gap: 3.2rem 2.3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

#agents main #role h3.secondary-title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: -1.2rem;
  width: 100%;
  color: var(--dark-gray);
}

#agents main #role .card {
  position: relative;
  width: 28.6rem;
  height: 36rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  background-image: url(../images/background-card-image.png);
  cursor: pointer;
  user-select: none;
  transition: all .3s ease-in-out;
}

#agents main #role .card::before {
  content: '';
  position: absolute;
  background: linear-gradient(0deg, rgba(31,31,34,1) 20%, rgba(31,31,34,0) 70%);
  top: 0;
  left: 0;
  width: 28.6rem;
  height: 36rem;
  z-index: 98;
  opacity: 0.7;
  transition: all .2s ease-out;
}

#agents main #role .card:hover::before {
  opacity: 1;
}

#agents main #role .card:hover {
  transform: scale(1.05);
}

#agents main #role .card img.agent-image {
  position: absolute;
  top: -3rem;
  left: -15rem;
  width: 210%;
  object-fit: cover;
  transition: .3s ease-in-out all;
}

#agents main #role .card:hover img.agent-image {
  scale: 1.1;
}

#agents main #role .card .agent-info {
  z-index: 98;
  color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 0 2rem 2rem;
}

#agents main #role .card .agent-info .agent-name {
  font-size: 3.2rem;
  line-height: 3.2rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

#agents main #role .card .agent-info .agent-role {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#agents main #role .card .agent-info .agent-role h3.secondary-title {
  color: var(--light);
}

#agents main #role .card .agent-info .agent-role img {
  width: 2rem;
  height: 2rem;
}

/* AGENT */
#agent {
  background-color: var(--dark-gray);
  padding: 0 4.4rem 4.4rem 4.4rem;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#agent main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#agent main .left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 4.4rem;
  justify-content: space-between;
}

#agent main .left .abilities {
  padding-top: calc(10.4rem + 4.4rem);
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
}

#agent main .left .abilities img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

#agent main .left .tooltip {
  position: absolute;
  padding: 2rem;
  background-color: var(--light);
  color: var(--typography-dark);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
  z-index: 1000;
  width: 64rem;
}

#agent main .left .tooltip::before {
  content: "";
  position: absolute;
  top: .6rem;
  left: -3.4rem;
  border-width: 1.8rem;
  border-style: solid;
  border-color: transparent var(--light) transparent transparent;
}

#agent main .left .tooltip.visible {
  visibility: visible;
  opacity: 1;
}

#agent main .left .tooltip .tooltip-title {
  color: var(--dark-gray);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-gray);
  margin-bottom: 1rem;
}

#agent main .left .tooltip .tooltip-description {
  line-height: 2.7rem;
}

#agent main .left .main-title {
  color: var(--light);
}

#agent main .center {
  width: 60rem;
  margin-top: 10rem;
  margin-left: -2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  height: 110vh;
}

#agent main .center #agent_image {
  position: absolute;
  width: 150%;
  object-fit: cover;
  z-index: 97;
}

#agent main .center .agent-background {
  position: relative;
  margin-top: -2rem;
  background: none;
  border-radius: 50%;
  width: 36rem;
  height: 36rem;
  overflow: hidden;
  outline: 2px dashed var(--light);
  outline-offset: 2rem;
  transition: all .5s;
  user-select: none;
}

#agent main .center .agent-background-image {
  position: absolute;
  width: 200%;
  right: -10rem;
  transition: all .5s;
}

#agent main .right {
  margin-top: calc(10.4rem + 1rem);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#agent main .right .subtitle {
  color: var(--light);
}

#agent main .right h2.main-title {
  color: var(--light);
  font-size: 3.2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

#agent main .right .paragraph {
  color: var(--typography-dark);
  line-height: 2.7rem;
  margin-top: 1.2rem;
  width: 40rem;
}

#agent main .right .description {
  margin-top: 6.4rem;
}